@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Inter", sans-serif;
    color: #f5f3ff;
    background: #111218;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

body {
    min-width: 320px;
    min-height: 100vh;
    background: #111218;
}

button,
input {
    font: inherit;
}

button {
    cursor: pointer;
}